.header, h1 {

     height: 100px;
     width: 100%;
     text-align: center;
     margin-top: 50px;
}

html {
    background-image: url("../images/cave.back.jpg");
    height: auto;
    width: auto;
}

h1, p {
    color: white;
    text-align: center;
}

#myImg {
    height:300px;
    width:500px;
    position: relative;
}
